
nav{
    background-image: url(./assets/images/nav-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{
    background-image: url(./assets/images/banner-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact{
    background-image: url(./assets/images/contact-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
